<div class="container">
    <!-- Example row of columns -->
    <div class="row text-center pt-5 pb-5 mb-5 bg-light">
      <div class="col-md-4">
        <h3>Most Properties</h3>
        <p>The most comprehensive property listings for sale. Search condos, terrace houses, apartments, bungalows, semi-d or more.</p>
      </div><br/>
      <div class="col-md-4">
        <h3>Most Rentals</h3>
        <p>Looking to rent a home in a condo, apartment, studio apartment or terrace? We have the most comprehensive property listings in your area.</p>
      </div><br/>
      <div class="col-md-4">
        <h3>Property News</h3>
        <p>Stay up to date on the property market with our informative blog posts. Get helpful tips on mortgages, choosing a property and more.</p>
      </div>
    </div>

    <!-- <hr /> -->
  </div>